// Global
* {
    font-family: 'Roboto', sans-serif;
}


//Title
h1, h2{
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

//text
.reservation p {
    font-size: 18px;
    font-weight: 300;
}