// Color
$primary-color: #9356DC ;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

//background
$background-white : #FFFFFF;
$background-grey-dark: #EAEAEA;
$background-grey-light: #F6F6F6;
$background-black: #353535;
$background-gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
;

//Box shadow
$box-shadow-light: 0px 2px 4px 0px #00000026;
$box-shadow-strong: 0px 4px 4px 0px #00000040;
$shadow-button: 0px 4px 10px 0px #00000040;



//icon colors
$location-icon :$background-black;
$buttons-icon :#7E7E7E;
$footer-icon :$background-white;
