form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    
    & input {
        border: none;
        background-color: $background-grey-dark;
        font-size: 16px;
        font-weight: 500;
    }
}