.icon-fonction {
    color: $buttons-icon;
    font-size: $big-icon;
}

.fa-location-dot {
    color: $location-icon;
}

.fa-heart{
    font-size: $big-icon;
} 

footer .fa-solid {
    font-size: $small-icon;
    width: 15px;
}