.logo-site {
    width: 197px;
    height: 36px;
    margin: 20px;
}

.image-header {
    aspect-ratio: 16/9;
    object-fit: cover;
    max-height: 383px;
    width: 100%;
    z-index: -1;
}

.cards img {
        object-fit: cover;
        height: 174px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        @media (min-width: 768px) {
            height: 240px;
        }
    }
