.button-rounded-purple {
    @include button-style (null, white, $shadow-button-purple, 15px, 25px);
    border: none;
    background: $background-gradient
}

.button-rounded-white {
    @include button-style ($background-grey-light, null, $shadow-button-white, 30px, 20px);
    position: relative;
    border: none;
    width: 100%;
}

.button-number {
    @include button-style ($primary-color, white, null, 3px 8px, 50%);
    position: absolute;
    font-size: 14px;
    left: -12px;
}

.new-button { //(span)
    @include button-style ($tertiary-color, #008766, $box-shadow-light, 5px 10px, 2px);
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    right: 12px;
    top: 13px;
}

.button-check {
    background-color: $tertiary-color;
    text-align: center;
    width: 0px;
    border-radius: 0 15px 15px 0;
    height: 69px;
    cursor: pointer;
    visibility: hidden;
}

