.cards {
    @include cards;
    flex-direction: column;
    position: relative;
    background-color: white;

    & .card-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;
        position: relative;

        &.card-text {
            @include flex-column;
            
        }

    }
}

