// Global
* {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 50%; /* 1rem = 8px */
}

//layouts

footer {
    font-size: 1.6rem;
}


//Title index
h1, h2{
    font-size: 2.4rem;
    font-weight: 700;
}

h3 {
    font-size: 1.8rem;
    font-weight: 700;
}

//Title menu
.title-menu {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.subtitle-menu {
    font-weight: 300;
    font-size: 2rem;
}

//text
p {
    font-size: 1.6rem;
    font-weight: 300;
}

.value p {
    font-size: 1.6rem;
    font-weight: 700;
}

//components

button {
    font-size: 1.6rem;
    font-weight: 500;
}


//media queries

@media (min-width: 768px) {
    html {
      font-size: 56.25%; /* 1rem = 9px */
    }
  }

@media (min-width: 1024px) {
    html {
      font-size: 62.5%; /* 1rem = 10px */
    }
  }