* {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 50%; /* 1rem = 8px */
}

footer {
  font-size: 1.6rem;
}

h1, h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.title-menu {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.subtitle-menu {
  font-weight: 300;
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
}

.value p {
  font-size: 1.6rem;
  font-weight: 700;
}

button {
  font-size: 1.6rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section {
  padding: 40px 20px;
}

footer {
  padding: 30px 20px;
}
@media (min-width: 1024px) {
  footer {
    padding: 50px 40px 20px 20px;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
form input {
  border: none;
  background-color: #EAEAEA;
  font-size: 1.6rem;
  font-weight: 500;
}

.button-rounded-purple {
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 15px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
}

.button-rounded-white {
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 30px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  border: none;
  width: 100%;
}

.button-number {
  background-color: #9356DC;
  color: white;
  padding: 3px 8px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  font-size: 14px;
  left: -12px;
}

.new-button {
  background-color: #99E2D0;
  color: #008766;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  right: 12px;
  top: 13px;
}

.button-check {
  background-color: #99E2D0;
  text-align: center;
  width: 0px;
  border-radius: 0 15px 15px 0;
  height: 69px;
  cursor: pointer;
}

.icon-fonction {
  color: #7E7E7E;
  font-size: 2rem;
}

.fa-location-dot {
  color: #353535;
  font-size: 2rem;
}

.fa-arrow-left {
  color: #353535;
  font-size: 2.5rem;
}

.fa-regular {
  font-size: 2rem;
}

.heart-icons {
  position: relative;
}

.heart-full {
  position: absolute;
  color: transparent;
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  font-size: 2.2rem;
  top: -3px;
  left: -1px;
  cursor: pointer;
}

footer .fa-solid {
  font-size: 1.3rem;
  width: 15px;
}

.fa-circle-check {
  color: white;
  font-size: 2.5rem;
  padding: 23px 0;
}

.loader-animation i {
  z-index: 1000;
  font-size: 50px;
  color: #99E2D0;
}

.cards {
  border-radius: 15px;
  display: flex;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  width: 100%;
  flex-direction: column;
  position: relative;
  background-color: white;
}
.cards .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  position: relative;
}
.cards .card-content.card-text {
  display: flex;
  flex-direction: column;
}

.logo-site {
  width: 197px;
  height: 36px;
  margin: 20px;
}

.image-header {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 383px;
  width: 100%;
  z-index: -1;
}

.cards img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 174px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media (min-width: 768px) {
  .cards img {
    height: 240px;
  }
}

.button-rounded-purple {
  transition: opacity 200ms, box-shadow 300ms;
}
.button-rounded-purple:hover {
  opacity: 0.7;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.6);
}

.heart-full {
  transition: transform 0.3s, opacity 0.5s;
  opacity: 0;
  transform: scale(0);
}

.heart-icons:hover .heart-full {
  transform: scale(1);
  opacity: 1;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loaderanimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.loader {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: loader 2s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.loader .loader-animation {
  display: flex;
  gap: 10px;
}
.loader .loader-animation .icon-fork {
  animation: loaderanimation 0.7s ease-in infinite;
}
.loader .loader-animation .icon-glass {
  animation: loaderanimation 0.7s ease-in infinite 0.2s;
}
.loader .loader-animation .icon-food {
  animation: loaderanimation 0.7s ease-in infinite 0.4s;
}

@keyframes slidein {
  0% {
    transform: translateX(-40px);
  }
  100% {
    transform: translate(0px);
  }
}
.button-check {
  transition: width 0.2s ease-out;
}

.global-menu a:hover .button-check {
  width: 59px;
}

.fa-circle-check {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.global-menu a:hover .fa-circle-check {
  animation: slidein 0.8s;
  opacity: 1;
}

@keyframes subtitlemenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menulist {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
.subtitle-menu {
  animation: subtitlemenu 1s;
}

.menu-anim1 {
  animation: menulist 0.4s ease-in-out forwards;
}

.menu-anim2 {
  animation: menulist 0.7s ease-in-out forwards;
}

.menu-anim3 {
  animation: menulist 1s ease-in-out forwards;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .border-shadow-header {
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: sticky;
}
header .formulaire {
  width: 100%;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 15px;
}
@media (min-width: 1024px) {
  header .border-shadow-header, header .formulaire {
    box-shadow: none;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  color: white;
  gap: 20px;
}
footer img {
  filter: invert(1);
  width: 98px;
  height: 18px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer ul li {
  display: flex;
}
footer ul li.link-bold {
  gap: 20px;
}
footer ul li.link-thin {
  font-weight: 300;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
  }
  footer img {
    margin-left: 70px;
  }
  footer ul {
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }
  footer ul li.link-bold {
    gap: 10px;
    align-items: center;
  }
  footer ul li.link-space {
    margin-left: 50px;
  }
}

.reservation {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #F6F6F6;
}

.fonctionnement, .buttons-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fonctionnement .buttons-flex, .buttons-bar .buttons-flex {
  display: flex;
  gap: 20px;
}
.fonctionnement button:hover i, .buttons-bar button:hover i {
  color: #9356DC;
}

@media (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 135px;
  }
  .fonctionnement .buttons-bar {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .fonctionnement .buttons-bar .buttons-flex {
    padding-right: 0;
  }
}
.restaurants {
  background-color: #F6F6F6;
}
.restaurants .restaurants-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .restaurants .restaurants-list {
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 50px;
  }
  .restaurants .restaurants-list a {
    flex-basis: 45%;
  }
}
@media (min-width: 1024px) {
  .restaurants {
    padding: 50px 135px;
  }
}

.header-menu a {
  position: absolute;
  left: 23px;
  top: 28px;
}

.global-menu {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  margin-top: -30px;
  position: relative;
}
.global-menu .title-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.global-menu .subtitle-menu {
  margin: 40px 0 15px 0;
}
.global-menu .subtitle-menu::after {
  content: "";
  display: block;
  border-bottom: 3px solid #99E2D0;
  width: 5rem;
}
.global-menu .menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.global-menu .menu-list .value {
  padding-top: 20px;
}
.global-menu .cards {
  height: 69px;
}
.global-menu .cards .card-content-check {
  display: flex;
  justify-content: space-between;
}
.global-menu .cards .card-content-check .card-content {
  width: 100%;
  flex-wrap: wrap;
}
.global-menu .cards .card-content-check .card-content .card-text {
  width: 85%;
}
.global-menu .cards .card-content-check .card-content .card-text h3, .global-menu .cards .card-content-check .card-content .card-text p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.global-menu .button-rounded-purple {
  padding: 15px 50px;
  margin: auto;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .global-menu {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .global-menu .title-line {
    justify-content: center;
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */