form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
form input {
  border: none;
  background-color: #EAEAEA;
  font-size: 16px;
  font-weight: 500;
}

.button-rounded-purple {
  border-radius: 25px;
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  color: white;
  padding: 15px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.button-rounded-white {
  position: relative;
  border-radius: 20px;
  background-color: #F6F6F6;
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 30px;
  width: 100%;
}

.button-number {
  position: absolute;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  padding: 3px 8px;
  font-size: 14px;
  left: -12px;
}

.new-button {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  right: 12px;
  top: 13px;
}

.icon-fonction {
  color: #7E7E7E;
  font-size: 20px;
}

.fa-location-dot {
  color: #353535;
}

.fa-heart {
  font-size: 20px;
}

footer .fa-solid {
  font-size: 13px;
  width: 15px;
}

.card-restaurant {
  border-radius: 15px;
  display: flex;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  width: 100%;
  flex-direction: column;
  position: relative;
}
.card-restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 174px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-restaurant .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.card-restaurant .card-content.card-text {
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.reservation p {
  font-size: 18px;
  font-weight: 300;
}

button {
  font-size: 16px;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section {
  padding: 40px 20px;
}

footer {
  padding: 30px 20px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .border-shadow-header {
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: sticky;
}
header img {
  width: 197px;
  height: 36px;
  margin: 20px;
}
header .formulaire {
  width: 100%;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 15px;
}

.reservation {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #F6F6F6;
}

footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  color: white;
  gap: 20px;
}
footer img {
  filter: invert(1);
  width: 98px;
  height: 18px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer ul li {
  display: flex;
}
footer ul li.link-bold {
  gap: 20px;
}
footer ul li.link-thin {
  font-weight: 300;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fonctionnement .buttons-flex {
  display: flex;
  gap: 25px;
}
.fonctionnement button:hover i {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
}/*# sourceMappingURL=style.css.map */