//***CHECK MENU***\\
@keyframes slidein {
    0% { transform: translateX(-40px);}
    100%{transform: translate(0px);}
  } 

.button-check {
    transition: all 0.2s ease-out;
}

.global-menu a:hover .button-check{
    width: 59px;
    visibility: visible;
}

.fa-circle-check {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.global-menu a:hover .fa-circle-check{
    animation: slidein 0.8s;
    opacity: 1;
}

//***PAGE MENU***\\
@keyframes subtitlemenu {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes menulist {
    0% {transform: translateX(-500px);}
    100% {transform: translateX(0);}
}

.subtitle-menu {
    animation: subtitlemenu 1s;
}

.menu-anim1 {
    animation: menulist 0.4s ease-in-out forwards;
}

.menu-anim2 {
    animation: menulist 0.7s ease-in-out forwards;
}

.menu-anim3 {
    animation: menulist 1s ease-in-out forwards;
}