footer {
    @include flex-column;
    background: $background-black;
    color: white;
    gap: 20px;

    & ul {
        @include flex-column;
        gap: 5px;

        & li {
            display: flex;

            &.link-bold {
                gap: 20px;
            }

            &.link-thin {
                font-weight: 300;
            }
        }
    }
    @media (min-width: 768px) {
        flex-direction: row-reverse;

        & ul {
            flex-direction: row;
            justify-content: flex-end;
            gap: 20px;

            & li.link-bold {
                gap : 10px;
                align-items: center;
            }

            & li.link-space {
                margin-left: 50px;
            }
            }
        }
    }